@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @keyframes spin-multiple {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(1080deg);
        }
    }

    .spin-fast {
        animation: spin-multiple 0.5s ease-in-out; 
    }

    .prose :where(code):not(:where([class~="not-prose"] *))::before {
        content: "`";
    }

    .prose :where(code):not(:where([class~="not-prose"] *))::after {
        content: "`";
    }


    .prose-skin table {
        @apply min-w-full divide-y divide-skin-base;
    }

    .prose-skin table th {
        @apply px-6 py-4 bg-skin-accent text-left font-medium text-skin-base tracking-wider;
    }

    .prose-skin table td {
        @apply px-6 py-4 whitespace-nowrap text-skin-base;
    }

    .prose-skin table tr:nth-child(even) {
        @apply bg-skin-base;
    }

    :root {
        [data-theme="light"] {
            --bg-base: 255, 255, 255; 
            --bg-surface: 255, 255, 255; 
            --bg-overlay: 255, 255, 255, 0.82; 
            --bg-muted: 255, 255, 255; 
            --bg-hover: 54, 173, 106; 

            --text-base: 0, 0, 0; 
            --text-inverted: 255, 255, 255; 
            --text-primary: 24, 160, 88; 
            --text-primary-hover: 54, 173, 106; 
            --text-primary-active: 12, 122, 67; 

            --text-info: 32, 128, 240; 
            --text-info-hover: 64, 152, 252; 
            --text-info-active: 16, 96, 201; 

            --text-error: 208, 48, 80; 
            --text-error-hover: 222, 87, 109; 
            --text-error-active: 171, 31, 63; 

            --text-warning: 240, 160, 32; 
            --text-warning-hover: 252, 176, 64; 
            --text-warning-active: 201, 124, 16; 

            --text-success: 24, 160, 88; 
            --text-success-hover: 54, 173, 106; 
            --text-success-active: 12, 122, 67; 

            --border-base: 0, 0, 0, 0.12; 
            --border-muted: 0, 0, 0, 0.06; 
            --border-primary: 24, 160, 88; 
            --border-secondary: 32, 128, 240; 
            --border-error: 208, 48, 80; 
            --border-success: 24, 160, 88; 
            --border-warning: 240, 160, 32; 
            --border-info: 32, 128, 240; 

            --alpha-disabled: 0, 0, 0, 0.5; 
            --alpha-disabled-input: 0, 0, 0, 0.02; 
            --alpha-divider: 0, 0, 0, 0.06; 
            --alpha-pressed: 0, 0, 0, 0.07; 
            --alpha-scrollbar: 0, 0, 0, 0.25; 
            --alpha-scrollbar-hover: 0, 0, 0, 0.4; 
            --alpha-overlay: 255, 255, 255, 0.82; 
        }

        [data-theme="dark"] {
            --bg-base: 16, 16, 20; 
            --bg-surface: 24, 24, 28; 
            --bg-overlay: 44, 44, 50, 0.9; 
            --bg-muted: 72, 72, 78; 
            --bg-hover: 42, 148, 125; 

            --text-base: 255, 255, 255; 
            --text-inverted: 0, 0, 0; 
            --text-primary: 99, 226, 183; 
            --text-primary-hover: 127, 231, 196; 
            --text-primary-active: 90, 206, 167; 

            --text-info: 112, 192, 232; 
            --text-info-hover: 138, 203, 236; 
            --text-info-active: 102, 175, 211; 

            --text-error: 232, 128, 128; 
            --text-error-hover: 233, 139, 139; 
            --text-error-active: 229, 114, 114; 

            --text-warning: 242, 201, 125; 
            --text-warning-hover: 245, 213, 153; 
            --text-warning-active: 230, 194, 96; 

            --text-success: 99, 226, 183; 
            --text-success-hover: 127, 231, 196; 
            --text-success-active: 90, 206, 167; 

            --border-base: 58, 58, 58; 
            --border-muted: 48, 48, 48; 
            --border-primary: 99, 226, 183; 
            --border-secondary: 112, 192, 232; 
            --border-error: 232, 128, 128; 
            --border-success: 99, 226, 183; 
            --border-warning: 242, 201, 125; 
            --border-info: 112, 192, 232; 

            --alpha-disabled: 0, 0, 0, 0.38; 
            --alpha-disabled-input: 0, 0, 0, 0.06; 
            --alpha-divider: 0, 0, 0, 0.09; 
            --alpha-pressed: 0, 0, 0, 0.05; 
            --alpha-scrollbar: 0, 0, 0, 0.2; 
            --alpha-scrollbar-hover: 0, 0, 0, 0.3; 
            --alpha-overlay: 10, 10, 10, 0.8; 
        }
    }
}
